.issues-item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:1px solid #e0e4e8;
    border-top:none;
    padding:10px;
}

.icon-wrapper {
    padding: 0 8px;
    color:#28a745;
}

.title-wrapper {
    display: flex;
    flex-direction: column;
    width:92%
}

.title-wrapper .title{
    font-weight: 600;
    font-size:16px;
}

.title-wrapper .title:hover{
    color: #0366d6;
    cursor:pointer;
}

.title-wrapper .meta-wrapper{    
    display: flex;
    flex-direction: row;
    color: #818284;
    font-size:12px;
    margin-top: 5px
}


.comments {
    width: 5%;    
    color:black;
    font-size:14px;
    display: flex;
    justify-content: flex-end
}

.label-component{
    font-weight: normal;
    border-radius: 2px;
    box-shadow: inset 0 -1px 0 rgba(27,31,35,.12);
    font-size: 12px;
    font-weight: 600;
    height: 20px;
    line-height: 15px;
    padding: .15em 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 992px) {
    /* .title-wrapper .title{
        flex:8
    }
    .title-wrapper .comments {
        flex:2;
        text-align:right;
        font-size: 12px
    } */
} 

@media only screen and (max-width: 620px) {

    .issues-item-container{
        padding:  3% 3% 3% 1%  ;
    }
    .icon-wrapper {
        padding: 0 4px;
    }
    .title-wrapper {
        width:95% ;
    }
    .title-wrapper .title{
        font-weight: 600;
        color:#0366d6;
        font-size:14px
    }
    .comments {
        display: none;
    }
    
} 