.comment-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.comment-wrapper .user-image img{
    border-radius: 3px;
    width: 47px;
    /* display: none; */
    height: 47px;
    margin-right: 15px;
}

.comment-wrapper .comment-data{
    width:100% ;
    max-width: 768px;
    font-size: 14px;
    border:1px solid #e0e4e8;
    border-radius:3px;
    margin-bottom:20px;
}

.comment-wrapper .user-name{
    color: #808182;
    font-size: 15px;
    background-color: #f6f8fa;
    padding:15px;
    border-bottom: 1px solid #e0e4e8;
}

.body{
    padding:15px;
    word-break: break-all;
}


@media only screen and (max-width: 620px) {
.comment-wrapper .user-image img{
    display: none;
}
}