body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    /* background: #e6eaef */
  white-space: pre-wrap
  }

.mt-20{
  margin-top:15px;
}

.color-primary{
  color:#0366d6
}

.color-light{
  color:#818284
}
.project-title {
  font-size: 18px;
}

.border{
  border:1px solid black;
}

.ml-5{
  margin-left: 5px

}
.fw-400{
  font-weight: 400px;
}
